body {
  height: 100%;
  width: 100%;
  background-color: darkblue;
  background-size: 50%;
  background-image: url(../img/2.png), url(../img/3.png);
  animation: snow 11s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 300px 0px, 250px 0px;
  }
  25% {
    background-position: 350px 250px, 300px 300px;
  }
  50% {
    background-position: 400px 500px, 350px 600px;
  }
  75% {
    background-position: 450px 750px, 400px 900px;
  }
  100% {
    background-position: 500px 1000px, 450px 1200px;
  }
}
